{% extends 'base.html' %}

{%block title%} Defence Dreamers {% endblock title%}
{%block body%}  
<link rel="stylesheet" href="/static/css/about.css?{% now "U" %}"/>


<div class="header-image">
    <img src="static/css/tri-ser.png" width="100%" alt="">
</div>

<div class= "container">

    <div class="content my-5 p-4" style="border-radius: 12px;">
        <h1 class="text-center">About Defence Dreamers</h1>
        <p class="px-5 pt-3 fs-5">Defence Dreamer! a website for dreamers who strives to adorn that prestogious uniform. Getting into indian armed forces has never been easy for anyone, from clearing written exams till recieving of joining letter each phase is hills and valleys. But to make this very same process a gentle walk for you Defence Dreamer comes to act with several features. Starting with well curated written examination strategies to proper plan for clearing Services Selection Board (SSB) interview everything is offered at same portal. </br>
          The strategies, plans and study materials refered on portal are all curated by the aspirants who have been successful several times in the same selection procedure. Many of the candidates who have been once a Defence Dreamer and now an Officer in the armed forces have also contributed to development of this portal. Success stories of the proud defence dreamer are also published in the portal to boost the confidence of the aspirants at every rough patch of time. </br>
          Several features on the portal: </br>
          <ol class="mx-5 fs-5">
            <li>Well Curated strategies and written material links to clear the examinations like NDA(National Defence Academy), CDS(Combined Defence Services), AFCAT(Air Force Common Admission Test), INET(Indian Navy Enterance Test) and etc.</li>
            <li>Through explaination of procedure of Services Selection Procedure (SSB) interview with approches, techniques and plan to crack it.</li>
            <li>Exclusive knowledge defence Bodies of Nation including Indian Army, Indian Navy and Indian Air Force.</li>
            <li>Inspirational tales of successful defence dreamers who have also shared their strategies to ace the procedure.</li>
            <li>Doubt Support form for the aspirants having any doubt during the course of their preparation.</li>
          </ol></p>

          <div class="row px-5 py-4 fs-5">
            <div class="col-md-6 left">
                <img class="w-100  pt-5" height="95%" src="/static/logo.png"  alt="">
           </div>
           <div class="col-md-6 right">
               <h2 class="primary-color my-2">Our Vision</h2>
               <p class="text-justify"> Defence dreamer looks forward to fulfill the dream of every defence aspirant by providing all the relevent guiding materials. Many of the aspirants are left behind just because they aren't able to recieve proper guidance at right time due to financial crisis. Defence Dreamer provides adeqeuate study material and preparation material to all the aspirants, in this way every aspirant gets a level ground to play despite of their background, financial status or any other reason. We aim to make sure every aspirant having sheer dedication towards their goal may never be pulled away and our forces may recieve the most filtered as well as refined officers.. </p> 
           </div>
       </div> 

          <div class="row px-5 py-4 fs-5">
            <div class="col-md-6 left">
                <h2 class="primary-color my-2">About Author</h2>
                <p class="text-justify"> The developer of Defence Dreamer "Vaibhav Srivastava", himself has been to the process twice and got selected by the Services Selection Board (SSB) both times. By utilizing his own experiance as an aspirant and specialized knowledge about the procedure gained ater mentoring over 300 plus aspirants, this portal is developed. Despite after securing <strong> AIR 83 in TES-42 and AIR 421 in NDA-145 </strong>, he was unable to join the armed forces due to medical issues. Soon after this it has become his dream to make the other aspirants achieve what he could not. And this dream for other aspirants has given birth to "Defence Dreamer". Defence Dreamer hold every idea, plan and action used by author to crack SSB during his days. </p> 
            </div>
    
            <div class="col-md-6 right">
                    <img class="w-100 mt-2 pt-5" height="94%" src="/static/css/ncc_pic.jpg"  alt="">
            </div>
        </div> 

    </div>
</div>

<div class="foot">
  <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" style="color: black; padding: 25px;" aria-current="page" href="/index"><strong>Home</strong></a>
      </li>
    <li class="nav-item">
        <a class="nav-link" style="color: black; padding: 25px;" href="/about"><strong>About</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/explore"><strong>Explore</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/exams"><strong>Exams Preparation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/ssb"><strong>SSB Preperation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/process"><strong>Defence Knowledge</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/contact"><strong>Contact</strong></a>
    </li>
  </ul>
    <div class="container">
        <div class="row">
          <div class="col foot-social my-5 d-flex justify-content-center align-items-center">
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.facebook.com/DefenceMinIndia/"><img src="/static/css/facebook.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.linkedin.com/company/defence-club-vitb/"><img src="/static/css/linkedin.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.instagram.com/defence_warriors_squad_/"><img src="/static/css/instagram.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://twitter.com/adgpi"><img src="/static/css/twitter.png" width="30px" alt=""> </a>
          </div>
          <div class="col logo my-5">
            <a href="/index"><img src="/static/logo.png" width="200" class="d-block mx-auto"></a>
          </div>
          <div class="col my-5 d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <p><strong>Sign-up for Updates</strong></p>
                  </div>
                </div>
                <div class="row">
                  <form action={% url 'saveupdates'%} method="post" class="col">
                    {%csrf_token%}
                    <input type="email" class="form-control mb-3" id="user_email" name="user_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
                    <button type="submit" class="btn btn-dark btn-sm mb-1">Submit</button>
                  </form>
                </div>
              </div>
          </div>
        </div>

    </div>
</div>
<div class="container mx-0" style="background: transparent; height: 15px;">
    <p class="my-2" >Copyright © Vaibhav Srivastava 2023.</p>
</div>
{% endblock body %}