{% extends 'base.html' %}

{%block title%} Defence Dreamers {% endblock title%}
{%block body%} 
<link rel="stylesheet" href="/static/css/process.css?{% now "U" %}"/>

<div class="container">
    <div class="content m-3 px-5 py-4" style="border-radius: 12px;">
        <h2 class="text-center">Leroy D'Cunha (NDA-149)</h2>
        <div class="d-flex justify-content-center"><img class="rounded mt-4 text-center w-50" src="/static/css/ssbcr.jpg" alt=""></div>
        <p class="mt-4">From being the 5 year old boy innocently saluting back to the security guards everytime they saluted my father to soon joining the Indian Naval Academy, this is my success story.
            <br>
            Being from a naval background, I’ve always admired the work of the people in the armed forces. My father’s passion for his work sparked my interest in joining the armed forces especially the Navy. The opportunities that I got, the people that I met and the values I picked up from my parents and elder sister enabled me to achieve this goal of mine.
            <br><br>
            
            From a very young age I was an attentive student and a fast learner. My parents encouraged me to participate in various sports and extra-curricular activities in school. I started to enjoy participating, pushed myself to be more competitive and started seeing the results. I still remember the gold I won in the 25m race in Upper Kindergarten after which I never looked back.
            <br><br>
            My consistent efforts in academics and extra-curricular activities gave me good results and my teachers always motivated me to keep doing better. With these achievements I also received several responsibilities in the prefectorial council. This further gave me the confidence to act towards my dream of being a naval officer.
            <br>
            Due to the dynamic nature of the work in navy, we had to constantly get transferred to different places for my father’s posting. I always took it as a challenge rather than looking at the negatives and made new friends and upheld the same reputation in the new school. This made me have a large circle of friends who are a constant support in my every endeavor.
            
            <br><br>
            My family was undoubtedly supportive of my decisions and my father took cautious steps to inform me of the difficulties and as well benefits of being a naval officer. We took the decision to shift to a coaching institute for JEE so that I would be prepared to face the competition and also have a backup. With my hard work and the blessings of my family and well-wishers I was able to clear the written exam in the first attempt and was called for the SSB.
            <br>
            <br>
            I appeared for my SSB while still studying in twelfth standard in 12 SSB Bangalore. The experience was amazing, I made many new friends and learnt a lot about my own personality at a deeper level. Due to the lack of proper preparation and low self-confidence I was conferenced out. But instead of taking it to heart, I self-introspected the mistakes I made in SSB and accordingly changed my preparation in my second attempt.
            <br>
            I read more to improve my knowledge and spoke about various topics with family and friends to improve my confidence while communicating. In my second attempt I cleared the written exam and got 33 SSB Bhopal as my center for SSB. My father assured me to be as care-free of the result as possible so that It didn’t hinder my performance. He said to me, “Jao mazze kar ke aao”
            <br>
            This time my experience was different, I was still making friends and having fun after the tasks but this time there was no room for nervousness. I went through it one day at a time and only focused on my task ahead. I would call my parents every evening and talk about the day and they assured me things would go well. At the end of every task I would gain more and more confidence.
            
            <br><br>
            On the conference day, this time I wasn’t too nervous deep down I knew it went well. The conference was short and soon the results were announced. The assessor did not go chest number wise and my chest number 6 was announced. I along with 7 others were recommended and the great part was that out of 8, 3 of us came in the same train compartment and also lived in the same room before entering the SSB.
            <br>
            I thought I wouldn’t cry but when I heard my mother’s voice on the phone congratulating me I couldn’t hold back the tears of joy. I had made my family very proud and there is no better happiness than that. </p>
    </div>
</div>


<div class="foot">
  <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" style="color: black; padding: 25px;" aria-current="page" href="/index"><strong>Home</strong></a>
      </li>
    <li class="nav-item">
        <a class="nav-link" style="color: black; padding: 25px;" href="/about"><strong>About</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/explore"><strong>Explore</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/exams"><strong>Exams Preparation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/ssb"><strong>SSB Preperation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/process"><strong>Defence Knowledge</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/contact"><strong>Contact</strong></a>
    </li>
  </ul>
    <div class="container">
        <div class="row">
          <div class="col foot-social my-5 d-flex justify-content-center align-items-center">
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.facebook.com/DefenceMinIndia/"><img src="/static/css/facebook.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.linkedin.com/company/defence-club-vitb/"><img src="/static/css/linkedin.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://www.instagram.com/defence_warriors_squad_/"><img src="/static/css/instagram.png" width="30px" alt=""> </a>
            <a style="padding: 12px; text-decoration: none; color: black;" href="https://twitter.com/adgpi"><img src="/static/css/twitter.png" width="30px" alt=""> </a>
          </div>
          <div class="col logo my-5">
            <a href="/index"><img src="/static/logo.png" width="200" class="d-block mx-auto"></a>
          </div>
          <div class="col my-5 d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <p><strong>Sign-up for Updates</strong></p>
                  </div>
                </div>
                <div class="row">
                  <form action={% url 'saveupdates'%} method="post" class="col">
                    {%csrf_token%}
                    <input type="email" class="form-control mb-3" id="user_email" name="user_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
                    <button type="submit" class="btn btn-dark btn-sm mb-1">Submit</button>
                  </form>
                </div>
              </div>
          </div>
        </div>

    </div>
</div>
<div class="container mx-0" style="background: transparent; height: 15px;">
    <p class="my-2" >Copyright © Vaibhav Srivastava 2023.</p>
</div>
{% endblock body %}