{% extends 'base.html' %}

{%block title%} Defence Dreamers {% endblock title%}
{%block body%}
<link rel="stylesheet" href="/static/css/process.css?{% now " U" %}" />

<div class="container">
  <div class="content m-3 p-4" style="border-radius: 12px;">
    <h2 class="text-center mb-4">Indian Armed Forces Knowledge</h2>
    The Indian Armed Forces are under the management of the Ministry of Defence of the Government of India. With
    strength of over 1.4 million active personnel, it is the world's second-largest military force and has the world's
    largest volunteer army. It also has the third-largest defence budget in the world. The Global Firepower Index report
    lists it as the fourth most-powerful military. The headquarters of the Indian Armed Forces is in New Delhi, the
    capital city of India. The President of India serves as the formal Supreme Commander of the Indian Armed Forces,
    while actual control lies with the executive headed by the Prime Minister of India. The Ministry of Defence (MoD) is
    the ministry charged with the responsibilities of countering insurgency and ensuring external security of India.
    <br> <br>
    <h4>Indian Army</h4>
    <p>The Indian Army is the land-based branch and the largest component of the Indian Armed Forces. The President of
      India is the Supreme Commander of the Indian Army, and its professional head is the Chief of Army Staff (COAS),
      who is a four-star general, currently General Manoj Pande. Two officers have been conferred with the rank of field
      marshal, a five-star rank, which is a ceremonial position of great honour. Also now there is newly introduced rank
      that is CDS (Chief of Defence Staff), who is also a general rank defence personel from any 3 service. Current CDS
      is Lt. Gen Anil Chauhan, who looks for the better coordination and integrated performance of all three services.
      The Indian Army was formed in 1895 alongside the long established presidency armies of the East India Company,
      which too were absorbed into it in 1903. <br>
      The army operates six operational commands and one training command. Each command is headed by General Officer
      Commanding-in-Chief with the rank of Lieutenant General. Each command directly reports to Army HQ in New Delhi.
      <br>
    <h5>Commands in Indian Army</h5>
    <ul>
      <li>Northern Commamd - Headquatered at Udhampur</li>
      <li>Southern Commamd - Headquatered at Pune</li>
      <li>South Western Command - Headquatered at Jaipur</li>
      <li>Eastern Commamd - Headquatered at Kolkata</li>
      <li>Western Commamd - Headquatered at Chandimandir</li>
      <li>Central Commamd - Headquatered at Lucknow</li>
      <li>Army Training Command - Headquatered at Shimla</li>
    </ul>


    Further Indian army has been divided in a several functional corps. These corps, are further on divided into
    regiments which are specific to the corps. Below given is the list of corps of indian Army: <br>
    <ol>
      <li>Armoured Corps</li>
      <li>Regiment of Artillery</li>
      <li>Corps of Army Air Defence</li>
      <li>Army Aviation Corps</li>
      <li>Corps of Engineers</li>
      <li>Corps of Signals</li>
      <li>Mechanised Infantry</li>
      <li>Infantry</li>
    </ol>

    <h5>Rank Structure in Indian Army</h5>
    <div class="d-flex justify-content-center">
      <img width="20%" src="/static/css/army-rank.jpeg" alt="">
    </div>
    </p>

    <h4>Indian Air Force</h4>
    <p>The Indian Air Force (IAF) is the air arm of the Indian Armed Forces. Its complement of personnel and aircraft
      assets ranks as the third most powerful air force in the world. Its primary mission is to secure Indian airspace
      and to conduct aerial warfare during armed conflicts. It was officially established on 8 October 1932 as an
      auxiliary air force of the British Empire which honoured India's aviation service during World War II with the
      prefix Royal. After India gained independence from United Kingdom in 1947, the name Royal Indian Air Force was
      kept and served in the name of the Dominion of India. With the transition to a republic in 1950, the prefix
      Royal was removed.
      <br>
      The President of India holds the rank of Supreme Commander of the IAF. As of 1 July 2017, 170,576 personnel are in
      service with the Indian Air Force. The Chief of the Air Staff, an air chief marshal, is a four-star officer and is
      responsible for the bulk of operational command of the Air Force. There is never more than one serving ACM at any
      given time in the IAF. The rank of Marshal of the Air Force has been conferred by the President of India on one
      occasion in history, to Arjan Singh. On 26 January 2002, Singh became the first and so far, only five-star rank
      officer of the IAF.
    <h5>Rank Structure in Indian Airforce</h5>
    <div class="d-flex justify-content-center">
      <img width="30%" src="/static/css/ranks-airforce.png" alt="">
    </div>

    <h5>Commands in Indian Airforce</h5>
    The Indian Air Force is divided into five operational and two functional commands. Each Command is headed by an Air
    Officer Commanding-in-Chief with the rank of Air Marshal. The purpose of an operational command is to conduct
    military operations using aircraft within its area of responsibility, whereas the responsibility of functional
    commands is to maintain combat readiness.
    <ul>
      <li>Central Air Commamd - Headquatered at Prayagraj</li>
      <li>Eastern Air Commamd - Headquatered at Shillong</li>
      <li>Southern Air Command - Headquatered at Thiruvananthapuram</li>
      <li>South Western Air Commamd - Headquatered at Gandhinagar</li>
      <li>Western Air Commamd - Headquatered at New Delhi</li>
      <li>Maintenance Commamd - Headquatered at Nagpur</li>
      <li>Training Command - Headquatered at Bangalore</li>
    </ul>

    <h5> Divisional Structure of Indian Airforce</h5>
    <p> <strong>Wings: </strong> A wing is a formation intermediate between a command and a squadron. It generally
      consists of two or three IAF squadrons and helicopter units, along with forward base support units (FBSU). Wings
      are typically commanded by air commodore </p>
    <p> <strong>Stations: </strong> Within each operational command are anywhere from nine to sixteen bases or stations.
      Smaller than wings, but similarly organised, stations are static units commanded by a group captain. A station
      typically has one wing and one or two squadrons assigned to it. </p>
    <p> <strong>Squadron and Units: </strong> Squadrons are the field units and formations attached to static locations.
      Thus, a flying squadron or unit is a sub-unit of an air force station which carries out the primary task of the
      IAF. A fighter squadron consists of 18 aircraft; all fighter squadrons are headed by a commanding officer with the
      rank of wing commander. </p>
    <p> <strong>Flights: </strong> Flights are sub-divisions of squadrons, commanded by a squadron leader. Each flight
      consists of two sections. </p>
    <p> <strong>Sections: </strong> The smallest unit is the section, led by a flight lieutenant. Each section consists
      of three aircraft. Within this formation structure, IAF has several service branches for day-to-day operations.
    </p>

    </p>

    <h4>Indian Navy</h4>
    <p>
      The Indian Navy is the maritime branch of the Indian Armed Forces. The President of India is the Supreme Commander
      of the Indian Navy. The Chief of Naval Staff, a four-star admiral, commands the navy. As a blue-water navy, it
      operates significantly in the Persian Gulf Region, the Horn of Africa, the Strait of Malacca, and routinely
      conducts anti-piracy operations and partners with other navies in the region. <br>
      The primary objective of the navy is to safeguard the nation's maritime borders, and in conjunction with other
      Armed Forces of the union, act to deter or defeat any threats or aggression against the territory, people or
      maritime interests of India, both in war and peace. Through joint exercises, goodwill visits and humanitarian
      missions, including disaster relief, the Indian Navy promotes bilateral relations between nations.
      <br>
      As of June 2019, Indian Navy has 67,252 active[7] and 75,000 reserve personnel in service and has a fleet of 150
      ships and submarines, and 300 aircraft.[5][6] As of September 2022, the operational fleet consists of 2 active
      aircraft carriers and 1 amphibious transport dock, 8 landing ship tanks, 11 destroyers, 13 frigates, 1 ballistic
      missile submarine, 16 conventionally-powered attack submarines, 24 corvettes, one mine countermeasure vessel, 4
      fleet tankers and numerous other auxiliary vessels, small patrol boats and sophisticated ships. <br>

      <h5>Commands in Indian Navy</h5>
      <p>The Indian Navy operates two operational commands and one training command. Each command is headed by a Flag Officer Commanding-in-Chief (FOC-in-C) of the rank of Vice Admiral. The Eastern and Western commands each have a Fleet commanded by a Rear Admiral. The Western Fleet based at Mumbai is commanded by the Flag Officer Commanding Western Fleet (FOCWF) and the Eastern Fleet, based at Visakhapatnam, is commanded by the Flag Officer Commanding Eastern Fleet (FOCEF). They each also have a Commodore commanding submarines (COMCOS) - the Commodore Commanding Submarines (East) and the Commodore Commanding Submarines (West). The Flag Officer Submarines, the single-point class authority for submarines is based at the Eastern Naval Command. The Southern Naval Command is home to the Flag Officer Sea Training (FOST).</p>
      <ul>
        <li>Eastern Naval Commamd - Headquatered at Visakhapatnam</li>
        <li>Southern Naval Command - Headquatered at Kochi</li>
        <li>Western Naval Commamd - Headquatered at Mumbai</li>
      </ul>

      <h5>Rank Structure in Indian Navy</h5>
      <p>As of 1 July 2017, the Navy has 10,393 officers and 56,835 sailors against a sanctioned strength of 11,827 officers and 71,656 sailors. This is inclusive of naval aviation, marine commandos and Sagar Prahari Bal personnel.</p>
      <div class="d-flex justify-content-center">
        <img width="30%" src="/static/css/navy-ranks.png" alt="">
      </div>
    </p>
    <h4>Other Informational Resources</h4>
    <ul>
      <li><p>SSB Crack website<a href="https://www.ssbcrack.com/"> Link</a> </p></li>
      <li><p>Ministery of Defence  official site<a href="https://www.mod.gov.in/"> Link</a> </p></li>
      <li><p>Indian Army official site <a href="https://indianarmy.nic.in/"> Link</a> </p></li>
      <li><p>Indian Navy official site <a href="https://www.joinindiannavy.gov.in/"> Link</a> </p></li>
      <li><p>Indian Airforce official site <a href="https://indianairforce.nic.in/"> Link</a> </p></li>
    </ul>
  </div>
</div>


<div class="foot">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" style="color: black; padding: 25px;" aria-current="page"
        href="/index"><strong>Home</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/about"><strong>About</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/explore"><strong>Explore</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/exams"><strong>Exams Preparation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/ssb"><strong>SSB Preperation</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/process"><strong>Defence Knowledge</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black; padding: 25px;" href="/contact"><strong>Contact</strong></a>
    </li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col foot-social my-5 d-flex justify-content-center align-items-center">
        <a style="padding: 12px; text-decoration: none; color: black;"
          href="https://www.facebook.com/DefenceMinIndia/"><img src="/static/css/facebook.png" width="30px" alt=""> </a>
        <a style="padding: 12px; text-decoration: none; color: black;"
          href="https://www.linkedin.com/company/defence-club-vitb/"><img src="/static/css/linkedin.png" width="30px"
            alt=""> </a>
        <a style="padding: 12px; text-decoration: none; color: black;"
          href="https://www.instagram.com/defence_warriors_squad_/"><img src="/static/css/instagram.png" width="30px"
            alt=""> </a>
        <a style="padding: 12px; text-decoration: none; color: black;" href="https://twitter.com/adgpi"><img
            src="/static/css/twitter.png" width="30px" alt=""> </a>
      </div>
      <div class="col logo my-5">
        <a href="/index"><img src="/static/logo.png" width="200" class="d-block mx-auto"></a>
      </div>
      <div class="col my-5 d-flex justify-content-center align-items-center">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <p><strong>Sign-up for Updates</strong></p>
            </div>
          </div>
          <div class="row">
            <form action={% url 'saveupdates'%} method="post" class="col">
              {%csrf_token%}
              <input type="email" class="form-control mb-3" id="user_email" name="user_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
              <button type="submit" class="btn btn-dark btn-sm mb-1">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container mx-0" style="background: transparent; height: 15px;">
  <p class="my-2">Copyright © Vaibhav Srivastava 2023.</p>
</div>
{% endblock body %}